body {
  background-color: LightSkyBlue;
   font-family: "Helvetica", sans-serif;
  color: white;
}
nav ul {
    background-color: tomato;
     border-style: solid;
  border-color: tomato;
  border-width: 2px;
  padding: 10px;
  border-radius: 10px;
}
nav ul li {
    list-style-type: none;
}
nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: PapayaWhip;
        text-align: center;

}
nav ul li a {
    text-decoration: none;
      color: white;
}
#pi {
  border-radius:30%;
}
@media all and (min-width: 1000px) {
    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }
}





















/**********************************
This section is for styling tables
***********************************/
table, th, td {
  border: 1px solid HoneyDew;
  border-collapse: collapse;
}
tr {
  background-color: PaleTurquoise;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: purple;
}
td {
  color: purple;
}
/********************************/